*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
    --verde-claro-principal:#99E599;
    --verde-claro-secundario:#4ff54f;
    --cinza-claro-secundario:#454545;
    --vermelho-escuro-erro:#EC2300;
}
#header{
    display:flex;
    justify-content:center;
    height:10vh;
    background-color:var(--cinza-claro-secundario);
}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    max-width:1000px;
}
.topSide{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
    height:10vh;
}
.logo{
    width:50px;
    height:50px;
    border-radius:25px;
    background-color:var(--verde-claro-secundario);
}
.menu ul,
.menu li{
    display:flex;
    margin:0;
    padding:0;
}
.menu li a{
    text-decoration:none;
    color:#FFF;
    padding:20px;
}
.menu li a:hover{
    color:var(--verde-claro-secundario);
}
#section{
    display:flex;
    justify-content:center;
    height:85vh;
    background-color:var(--verde-claro-principal);
}
.form{
    width:400px;
    height:350px;
    padding:20px;
    background-color:var(--cinza-claro-secundario);
}
.inputs{
    display:flex;
    flex-direction:column;
}
input:not([type="submit"]){
    width:100%;
    height:57px;
    outline:0;
    font-size:14px;
    padding-left:20px;
    border:0;
    border:0.5px solid #CCC;
    border:0.5px solid #CCC;
}
input[type="submit"]{
    height:57px;
    margin-top:25px;
    color:#FFF;
    font-weight:bold;
    outline:0;
    border:0;
    background-color:#4ff54f;
    cursor:pointer;
}
#footer{
    display:flex;
    justify-content:center;
    height:5vh;
    background-color:var(--cinza-claro-secundario);
}
.error{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:-150px;
    width:150px;
    height:57px;
    padding:3px;
    background-color:var(--vermelho-escuro-erro);
    color:#FFF;
    font-size:10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.localError{
    display:flex;
}